{% extends 'layout.html' %}
<!-- HEADER -->
{% block header %}
<div class="titular">
<p>{{ session['nombre'] }}</p>
<a href="/salir">Salir</a>

<h4>Nuevo registro</h4>
</div>
    
    

{% endblock %}

<!-- MAIN -->
{% block main %}


<form   class="form" action="/" method='POST'>
    
    <h3 class="mensaje">{{ mensaje }}</h3>

    <input type="hidden" name="fecha" id="" value="{{ fecha }}">
    <div class="abajo-form">
    
    </div>
    <div class="arriba-form">
    <input class = "form-cantidad" type="number" name="cantidad" id="">
    <input class="form-titulo" type="text" name="titulo">
    <input class="form-lugar" type="text" name="lugar" id="">
   

    <textarea class="form-texto" name="texto" id="texto" cols="30" rows="16">
    </textarea>
    </div>
    
    {% endblock %}
    {% block footer %}

   
    <button class= "boton form-boton" type="submit"><img src="{{ url_for('static', filename='img/crear.svg') }}" alt=""></button>
    <a href="/vergastos" class="enlace"><img src="{{ url_for('static', filename='img/ver.svg') }}" alt=""></a>
</form>

{% endblock %}

<!-- FOOTER -->