html{
    font-family: 'Anton', sans-serif;
    font-size: 16px;
}

body{
    height: 812px;
    background-color: #111111;
    color: #b7b7b7;
    padding: 10px;
}


header  h1{
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

button{
   background-color: #b7b7b7;
   color: #111111;
   font-weight: bold;
   margin-top: 1rem;
}
h4{
    text-align: center;
}


.titular{
    display:flex;
    justify-content:flex-start;
    align-items: baseline;
    margin: 2rem;
}


.abajo-form{
    position: relative;
    background-color: #f0f0f0;
    
}
li{
    height: 1.6rem;
    border-bottom:solid 1px #b2e3ff;
}
.arriba-form{
    position: absolute;
    z-index:99;
    top:8rem;
    left:0;
    width: 100%;
    padding: 2rem;
}
.form-titulo{
    
    border:none;
    background-color: #f0f0f0;
    padding: 2rem 0.8rem 0;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: regular;


}
.form-texto{

    border:none;
    background-color:transparent;
    
}
.mensaje{
    position: absolute;
    z-index:999;
}
.exito{
    padding: 3rem;
}

footer{
    width: 100%;
    position: fixed;
    z-index: 999;
    bottom: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
}
a{
    margin:1.5rem;
}
.verNota{
    padding:1rem;
    background-color: #d6ecf8;
    border-radius: 2rem 0 0 2rem;
}
.verBotones{
    width:50%;
    margin-left: 9.7rem;
    margin-bottom:1rem;
    background-color: #d6ecf8;
    border-radius: 0 0 0 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}